@import "./reset.css";

@font-face {
    font-family: "Norse";
    src: url("./logo-font/Norse-Bold.woff2") format("woff2"),
        url("./logo-font/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

input:focus {
    outline: none;
}

.text-s {
    font-size: 1.1rem;
}

.link-green {
    color: hsl(92, 20%, 35%);
}

.text-decoration-deactive {
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.page {
    display: flex;
    min-height: 100vh;
}

.left {
    color: white;
    display: flex;
    padding-top: 11rem;
    padding-bottom: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right {
    flex: 1.7;
    background-color: rgb(233, 233, 233);
}

.logo-wrapper {
    padding: 0.8rem 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    font-family: "Norse";
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__image {
    max-width: 110px;
}

.photo_credit {
    color: rgb(198, 204, 204);
    font-size: 0.9rem;
    margin: 0 auto;
}
.photo_credit > a {
    color: rgb(198, 204, 204);
}

.photo_credit > a:hover {
    color: rgb(106, 106, 156);
}

.right {
    font-family: helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    padding: 0.8rem 3rem;
    max-width: 1000px;
}

.main > p {
    margin-bottom: 2.5rem;
}

#form {
    background-color: white;
}

.form-row {
    display: flex;
    gap: 6rem;
    margin-bottom: 1.4rem;
}

.form-component__text {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    display: block;
}

.form-component__input {
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    width: 250px;
}
.form-component__input:focus {
    box-shadow: 0 0 10px rgb(141, 141, 141);
    border: 0.5px solid black;
}

.form-component__input:invalid {
    border: 1px solid red;
}

.button {
    background-color: hsl(92, 20%, 35%);
    border-radius: 10px;
    box-shadow: 0 0 10px #cacaca;
    border: none;
    color: aliceblue;
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 1.9rem;
    margin-top: 1rem;
    padding: 0.7rem 2.9rem;
}

.button:hover {
    background-color: hsl(92, 20%, 25%);
    cursor: pointer;
}

.login:hover {
    text-decoration: underline;
    color: hsl(92, 20%, 25%);
}
